<h1>To Do List</h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{%endif%}
<form action="{% url 'task:create' %}" method="post">
	{% csrf_token %}
	<label for="task" class="todo">ToDo</label>
	<div class="form_body">
		{{forms.task_name}}
	</div>
	<div class="form_start_date">
		{{forms.start_time}}
	<div class="add">
		<button type="submit">Add ToDo</button>
	</div>	
</form>	

<h2>Current Todos</h2>
{% for t in task_index %}
<div>{{t.task_name}}</div>
<form action="{% url 'task:delete' t.id %}" method="post">
	{%csrf_token %}
	<button>Delete</button>
</form>		
{% endfor %}
