{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'user/home.css' %}">
<h1>Home</h1>
<p>Hi {{user.username}}</p>
<fieldset>
<form class='taskcreate' action="{% url 'task:create' user.username%}" method='post'>
	{% csrf_token %}
	<label for='task'>ToDo</label>
	<div class="form_body">
		{{forms.task_name}}
	</div>
	<button class='add'type='submit'>Add Task</button>	
</form>
</fieldset>

<h2>Current Todos</h2>
{% for t in task_index %}
<div class="taskname">{{t.task_name}}</div>
<form class='taskdelete' action="{% url 'task:delete' t.id user.username %}" method="post">
	{%csrf_token %}
	<button class='delete'>Delete</button>
</form>		
{% endfor %}

<form class='logout' action="{% url 'user:logo' %}" method='post'>
	{% csrf_token %}
	<button class='logoutb' type="submit">Log Out</button>
</form>	